.i-close {
  background-image: url(./imgs/icon-close.png);
}
.i-back-modal {
  background-image: url(./imgs/icon-back-modal.png);
}
.i-close-gray {
  background-image: url(./imgs/icon-close-gray.png);
}
